.chatHeadBtn {display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 25;
    padding: 5px;
    margin: 7px;
    border: 1px solid #ffffff;
	background:#711e07;
	display:none;
}
.chatHeadBtn a {color:#ffffff;}
.chatHeadBtn .showUserList {border-left:none!important;}

#chatWrapper ul {padding:0;margin:0;}

#chatMainWrapper{min-height:300px;min-width:320px;max-width:680px;}
#chatWrapper .preload {display:block;position:absolute;top:0;left:0;height:100%;width:100%;opacity:0.8;background:#ffffff;}

#chatWrapper {display:block;border:2px solid #711e07;position:relative;overflow:hidden;min-height:300px;min-width:320px;max-width:680px;margin:auto;z-index:5;background:#ffffff;font-family:'Arial';}
#chatWrapper .top_row {height:28px;display:block;background: #711e07;position:absolute;top:0;left:0;z-index:10;width:100%;}
#chatWrapper .chat_content {position:relative;display:block;height:100%;z-index:1;}

#chatMainWrapper{z-index:25;}
#chatMainWrapper .ui-resizable-se{border: 1px solid #711e07;background-color:#ffffff;right: -4px;bottom: -6px;box-shadow:1px 1px 1px rgb(0,0,0,0.20);}

#chatWrapper .chatUsers {position:absolute;display:block;height:100%;z-index:2;right:0;top:0;width:180px;background: #ffffff;
    border-left: 1px solid #711e07;}
#chatWrapper .chatUsers .wrapUsers {display:block;padding:5px 5px 25px 0;overflow:hidden;}
#chatWrapper .chatUsers .wrapUsers .userItem {display:block;clear:both;font-size:12px;border-bottom:1px solid #ededed;margin-bottom:3px;padding-bottom:3px;overflow:hidden;white-space: nowrap;}
#chatWrapper .chatUsers .wrapUsers .userItem a {display:inline-block;padding:1px 2px;float:left;text-decoration:none;color:#711e07;font-weight:bold;}
#chatWrapper .chatUsers .wrapUsers .userItem_online a {color:#007710;}
#chatWrapper .chatUsers .wrapUsers .userItem a .date {display:inline-block;float:left;margin-right:3px;padding-right:2px;font-weight:normal;opacity: 0.2;}
#chatWrapper .chatUsers {display:none;overflow-y: scroll;}
#chatWrapper .chatUsers.active {display:block;}


.showUserList {display: block;float: right;background: #711e07;color: #ffffff;text-align: left;line-height: 28px;height:28px;
background: #711e07 url('images/usrs_icon.png') 9px 50% no-repeat;background-size: auto 80%;padding-left:36px;text-decoration:none;font-weight:bold;border-left:1px solid #ffffff;
padding-right:5px;
}
.showUserList:hover {color: #ffffff;}

#chatWrapper .closeChat {display: none;float: right;width: 35px;background: #711e07;color: #ffffff;text-align: center;line-height: 28px;height:28px;
text-decoration:none;font-weight:bold;font-size:24px;border-left:1px solid #ffffff;
}

#chatWrapper .chatUsers::-webkit-scrollbar-thumb{background:#929292;}
#chatWrapper .chatUsers::-webkit-scrollbar-track{background:#ededed;}
#chatWrapper .chatUsers::-webkit-scrollbar{width: 6px;height: 6px;}

#chatWrapper #send_mess {display:block;overflow:hidden;padding:0;float:left;width:60%;}
#chatWrapper .chat_send {position:absolute;bottom:0;left:0;height:34px;display:block;z-index:10;border-top:1px solid #711e07;width:100%;background:#711e07;}
#chatWrapper textarea.area_style {display:block;width:98%;float:left;border-right:1px solid #711e07;height:32px;resize:none;padding:2px 1%;outline:none;
font-size: 12px;
line-height: 14px;
border:none;
margin-top: 0px;margin-left: 1px;
-ms-user-select: auto;
-o-user-select: auto;
-webkit-user-select: auto;
user-select: auto;
}
#chatWrapper textarea.area_style:focus {outline:none;
font-size: 12px;
line-height: 14px;
border:none;
-ms-user-select: auto;
-o-user-select: auto;
-webkit-user-select: auto;
user-select: auto;
}
#chatWrapper .messages {display:block;height:100%;width:70%;overflow-y:scroll;border-right:1px solid #711e07;}
#chatWrapper .messages {display:none;}
#chatWrapper .messages_active {display:block;}
#chatWrapper .wrapp_mess {display:block;padding:0px 0 5px 0;overflow:hidden;}

#chatWrapper .chat_btn {display: block;float: left;width: 50px;background: #711e07;color: #ffffff;text-align: center;line-height: 34px;height:34px;}
#chatWrapper .chat_btn a {display:block;width:100%;height:34px;line-height:40px;color:#ffffff;text-align:center;text-transform:uppercase;text-decoration:none;
background: #711e07 url('images/iconfinder_16.png') 60% 50% no-repeat;background-size: auto 80%;text-indent: 999px;}

#chatWrapper .smile_btn {display: block;float: left;width: 30px;background: #711e07;color: #ffffff;text-align: center;line-height: 34px;height:34px;border-right:1px solid #ffffff;}
#chatWrapper .smile_btn a {display:block;width:100%;height:34px;line-height:40px;color:#ffffff;text-align:center;text-transform:uppercase;text-decoration:none;
background: #711e07 url('images/smile_icon.png') 50% 50% no-repeat;background-size: auto 60%;text-indent: -999px;}

#chatWrapper .smile_btn {display:none;}

#chatWrapper .photo_btn {display: block;float: left;width: 30px;background: #929292;color: #ffffff;text-align: center;line-height: 34px;height:34px;}
#chatWrapper .photo_btn a {display:block;width:100%;height:34px;line-height:40px;color:#ffffff;text-align:center;text-transform:uppercase;text-decoration:none;
background: #929292 url('images/photo_icon.png') 50% 50% no-repeat;background-size: auto 60%;text-indent: -999px;}

#chatWrapper .item {display:block;border-top: 1px solid rgb(230, 230, 230);position:relative;min-height:48px;margin:0px 0 0px 0;padding:3px 0;clear:both;}
#chatWrapper .item_active {background:#f9ffe5;}
#chatWrapper .item .logo {width: 32px;height: 32px;margin: 2px 9px 0 7px;max-width: none;border-radius: 3px;max-width: none !important;position:absolute;top:0;left:0;z-index:1;}
#chatWrapper .item .logo img {border-radius:3px;}
#chatWrapper .item .text {display:block;overflow:hidden;padding-left:50px;}
#chatWrapper .item .tmDate {display:inline-block;color:#000000;opacity:0.2;}
#chatWrapper .item a {color: #0096cf;text-decoration:none;}
#chatWrapper .item a:hover {color:#000000;}
#chatWrapper .item .text_name {font-size: 12px;word-wrap: normal;border-bottom: none;display: block;font-weight:bold;line-height:18px;}
#chatWrapper .item .text_input {text-align: left;font-size: 12px;line-height: 16px;margin: 2px 0 0;word-wrap: break-word;word-break: break-all;word-break: break-word;padding: 0;
font-weight: normal;color: inherit;}
#chatWrapper .item .text_input img.timage {height:100px;width:auto;border:1px solid #ededed;border-radius:5px;max-width:100%;}
#chatWrapper .item .type {display:block;clear:both;font-size:11px;padding:1px;color:#ffffff;background:#c7c7c7;margin-top:-3px;text-align:center;line-height:11px;border-radius:3px;
position:relative;z-index:2;}
#chatWrapper .item .type_mod {background:#ff6f1a;}
#chatWrapper .item .type_adm {background:#fd2121;}
#chatWrapper .item .type_bot {background:#14a4f9;}
#chatWrapper .item .type_usr {display:none;}
#chatWrapper .item .replay {float:right;margin:0 3px;border:1px solid #b7b7b7;color:#b7b7b7;padding:1px 3px;font-size:12px;float:right;line-height:14px;display:inline-block;opacity:0.6;}
#chatWrapper .item .replay:hover {border:1px solid #b7b7b7;color:#b7b7b7;opacity:1;}

#chatWrapper .item .delete {float:right;margin:0 3px;border:1px solid #ffd0d0;color:#ffd0d0;padding:1px 3px;font-size:12px;float:right;line-height:14px;display:inline-block;opacity:0.6;}
#chatWrapper .item .delete:hover {border:1px solid #ffd0d0;color:#ffd0d0;opacity:1;}

#chatWrapper .messages .item .replay{display:none;}
#chatWrapper .messages .item .delete{display:none;}
#chatWrapper .messages_1 .item .replay {display:inline-block;}

#chatWrapper .messages .item_user .replay {display:none!important;}
#chatWrapper .messages .item_user .delete {display:inline-block;}
#chatWrapper.chatWrapper_isDel .messages .item .delete {display:inline-block;}

#chatWrapper .load_more {text-align:center;display:block;overflow:hidden;}
#chatWrapper .load_more a {padding:10px 0;text-align:center;background:#ededed;display:block;}

#chatWrapper .chat_room {display:block;width:100%;position:absolute;bottom:34px;z-index:3;background: #ffffff;border-top: 1px solid #711e07;}
#chatWrapper .chat_room a {border:1px solid #711e07;border-top-right-radius:5px;display:inline-block;float:left;margin-top:1px;font-size:12px;padding:2px 3px;text-decoration:none;background:#ffffff;margin-right:1px;
max-width: 90px;white-space: nowrap;overflow: hidden;color:#711e07;line-height:12px;}
#chatWrapper .chat_room a span{line-height:12px;}
#chatWrapper .chat_room a.active {background:#711e07;color:#ffffff;max-width: 100%;}
#chatWrapper .chat_room a.new_mess{background:#e9f72e;}
#chatWrapper .chat_room a .close {display:none;}
#chatWrapper .chat_room a.active .close {background: red;color: #ffffff;border-radius: 2px;float: right;    padding: 0px 10px;font-weight: bold;display: inline-block;margin-left: 3px;cursor:pointer;
opacity:0.9;font-size:10px;line-height:12px;position:relative;top:-2px;right:-3px;}

#chatWrapper .messages::-webkit-scrollbar-thumb{background:#929292;}
#chatWrapper .messages::-webkit-scrollbar-track{background:#ededed;}
#chatWrapper .messages::-webkit-scrollbar{width: 6px; height: 6px;}

#chatWrapper .showItemMenu {display:none;position:absolute;top:30%;left:50%;margin-left:-150px;width:300px;border:1px solid #711e07;z-index:5;background:#ffffff;}
#chatWrapper .showItemMenu .close {display:block;padding:5px;color:#ffffff;font-size:16px;text-align:center;background:#711e07;text-decoration:none;text-transform:uppercase;float:none;opacity:0.9;}
#chatWrapper .showItemMenu .close:hover {opacity:1;}
#chatWrapper .showItemMenu.active {display:block;}
#chatWrapper .showItemMenu .wrap {padding:3px;}
#chatWrapper .showItemMenu .userWrap {padding:3px 0;}
#chatWrapper .showItemMenu .name {text-align:center;font-size:16px;font-weight:bold;display:block;padding-bottom:3px;color:#711e07;}
#chatWrapper .showItemMenu .userNumber {text-align:center;font-size:14px;font-weight:bold;display:block;padding-bottom:3px;}
#chatWrapper .showItemMenu ul {display:block;}
#chatWrapper .showItemMenu ul li {display:block;clear:both;}
#chatWrapper .showItemMenu ul li a {padding:3px;font-size:14px;display:block;text-align:center;margin:3px;border:1px solid #711e07;color:#711e07;text-decoration:none;}
#chatWrapper .showItemMenu ul li a:hover {color:#711e07;}

#chatWrapper .banForm {padding:5px;}
#chatWrapper .banForm select {margin:auto;display:block;font-size:16px;}
#chatWrapper .banForm select option {text-align:center;}
#chatWrapper .banForm input, #chatWrapper .banForm a.submit {clear:both;display:block;border:1px solid #000000;margin:5px auto;padding:5px 10px;width:90%;text-align:center;font-size:16px;text-decoration:none;}
#chatWrapper .banForm input.submit, #chatWrapper .banForm a.submit {cursor:pointer;}

#chatWrapper .errorMsg {color:red;display:block;text-align:center;font-size:16px;line-height:20px;padding:10px;}



#chatWrapper .file-placeholder {
	margin-left: 56px;
}
#chatWrapper .file-placeholder .loading-wrap {
    display:inline-block;
    margin-left:15px;
    vertical-align:middle;
    position:relative;
    width:50%;
}
#chatWrapper .file-placeholder .loading {
    background:#e3ebed;
    display:block;
    border:1px solid;
    border-top:1px solid #bcc2c4;
    border-left-color:#cfd7d9;
    border-right-color:#cfd7d9;
    border-bottom:1px solid #dde5e6;
    height:17px;

}
#chatWrapper .file-placeholder .loading .del-but {
    background: url("images/live_feed_sprite.png") no-repeat scroll 7px -20px transparent;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
#chatWrapper .file-placeholder .load-indicator {
	background:#40c0e9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40c0e9', endColorstr='#2698db');
    background:linear-gradient(top, #40c0e9, #2698db);
    background:-moz-linear-gradient(top, #40c0e9, #2698db);
    background:-o-linear-gradient(top, #40c0e9, #2698db);
    background:-ms-linear-gradient(top, #40c0e9, #2698db);
    background:-webkit-gradient(linear, left top, left bottom, from(#40c0e9), to(#2698db));
    color:#fff;
    font-size:12px;
    height:19px;
    text-align:center;
    text-shadow:0 1px 0 rgba(56, 124, 162, 1);
    left:0;
    top:0;
    position:absolute;
}
#chatWrapper .file-placeholder .load-number {
	display:inline-block; box-sizing:border-box; padding-top:2px;
}
#chatWrapper .file-placeholder .files-title {
	background:url("images/live_feed_sprite.png") no-repeat;
	color:#5c6470;
	font-size:12px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
	left:13px;
	top:12px;
	width:54px;
	padding-left:20px;
	position:absolute;
}
#chatWrapper .file-placeholder .files-list-wrap {
	margin-left:56px;
}
html* #chatWrapper .file-placeholder .files-list {
	width: auto !important;
}
#chatWrapper .file-placeholder .files-list {
	table-layout:fixed;
	width:96%;
	position:relative;
	margin-left:2%;
}
#chatWrapper .file-placeholder .files-list td {
	border-bottom:1px solid #dde5e8;
	color:#5c6470;
	font-size:12px;
	line-height:14px;
	padding:3px 0 3px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position: relative;
	zoom:1;
}
#chatWrapper .file-placeholder .file-edit,
#chatWrapper .file-placeholder .file-section {
	display: none;
}
#chatWrapper .file-placeholder .files-name {
	width:30%
}
#chatWrapper .file-placeholder .files-size {
	width:12%
}
#chatWrapper .file-placeholder .files-storage {
	width:20%;
}
#chatWrapper .file-placeholder .files-storage .files-storage-text{
	display: inline-block;
	width:80px;
	color:#5C6470;
}
#chatWrapper .file-placeholder .files-storage-block {
	position:relative;
}
#chatWrapper .file-placeholder .files-text {
	-moz-box-sizing: border-box;
	color: #2067B0;
	display: inline-block;
	font-weight: bold;
	max-width: 100%;
	padding-right: 20px;
	position: relative;
	zoom:1;
}
#chatWrapper .file-placeholder .error-load .files-text {
	color:#bb0000;
}
#chatWrapper .file-placeholder .f-wrap {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	word-wrap: break-word;
	zoom:1;
}
#chatWrapper .file-placeholder .del-but {
	background: url("images/live_feed_sprite.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
	display:none;
}
#chatWrapper .file-placeholder .files-text .del-but {
	background-position:6px -19px;
	display:inline-block;
	margin-top:-2px;
	position:static;
	vertical-align:top;
}
#chatWrapper .file-placeholder .loading .del-but {
    background-position: 7px -20px;
    top: 0;
}
#chatWrapper .file-placeholder .files-storage-block .del-but {
    background-position: 7px -20px;
    top: 0;
}
#chatWrapper .file-placeholder .info-icon {
	background:url("images/live_feed_sprite.png") no-repeat -112px -60px;
	display:inline-block;
	height:16px;
	margin-right:10px;
	vertical-align:middle;
	width:17px;
}
#chatWrapper .file-placeholder .stor-place {
	display:inline-block;
	margin-left:10px;
	vertical-align:top;
}
#chatWrapper .file-placeholder .stor-text {
	display:inline-block;
	border-bottom:1px solid #5c6470;
}
#chatWrapper .file-placeholder .stor-pl-arrow {
	background:url("images/live_feed_sprite.png") no-repeat -130px -23px;
	display:inline-block;
	margin-left:10px;
	height:5px;
	vertical-align:middle;
	width:3px;
}
#chatWrapper .file-placeholder .edit-stor {
	background:url("images/live_feed_sprite.png") no-repeat 4px -64px;
	/*cursor:pointer;*/
	/*display:inline-block;*/
	display: none;
	height:15px;
	margin-left:0px;
	vertical-align:middle;
	width:15px;
}
#chatWrapper .file-placeholder .files-path,
#chatWrapper .file-placeholder .files-path:visited,
#chatWrapper .file-placeholder .files-path:active,
#chatWrapper .file-placeholder .files-path:link,
#chatWrapper .file-placeholder .files-path:hover {
	border-bottom:1px dashed #5C6470;
	display:inline-block;
	color:#5C6470;
	/*margin-left:10px;*/
	text-decoration:none;
}
#chatWrapper .file-placeholder .files-placement,
#chatWrapper .file-placeholder .files-placement:visited,
#chatWrapper .file-placeholder .files-placement:active,
#chatWrapper .file-placeholder .files-placement:link,
#chatWrapper .file-placeholder .files-placement:hover {
	display:inline-block;
	color:#5C6470;
	/*margin-left:10px;*/
	text-decoration:none;
}
#chatWrapper .file-selectdialog {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F4F8F9;
    border-color: #CED0D1 #CED1D1 #D3D7D8;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 0;
    position: relative;
	display: none;
	clear: both;
    bottom: 31px;
    position: absolute;
    z-index: 20;
	width: 100%;
	text-align:center;
	display:none;
}
#chatWrapper .file-selectdialog .file-placeholder{
	margin-left: 0px;
}
#chatWrapper .file-selectdialog .file-simple .file-placeholder {
	margin-top: 0px;
	margin-left: 90px;
}
#chatWrapper .file-selectdialog .file-label {
    background: url("images/live_feed_sprite.png") no-repeat scroll -146px -186px transparent;
    color: #5C6470;
    font-size: 12px;
    left: 13px;
    padding-left: 20px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    top: 12px;
    width: 54px;
	line-height: 20px;
	display:none;
}
#chatWrapper .file-selectdialog .file-extended .file-selector {
    color: #A0AEB5;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 0px;
    padding: 0;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	padding: 20px 5px 10px 5px;
}
#chatWrapper .file-selectdialog .file-extended .file-selector-active {
	background-position:57px -88px;
	border:3px dashed #d4dde1;
}
#chatWrapper .file-selectdialog .file-extended .file-selector:hover {
}
#chatWrapper .file-selectdialog .file-extended .file-load-img {
	height:79px;
	left:58px;
	top:20px;
	position:absolute;
	width:90px;
	display:none;
}
#chatWrapper .file-selectdialog .file-extended .file-selector:hover .file-load-img  {

}
#chatWrapper .file-selectdialog .file-extended .file-uploader {
    color: #2067B0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
#chatWrapper .file-selectdialog .file-extended .file-uploader .file-but-text {
	cursor: pointer;
	display: block;
	width:100%;
	height:100%;
}
#chatWrapper .file-selectdialog .file-simple .file-uploader .file-fileUploader {
	/*font-size: 12px;*/
}
#chatWrapper .file-selectdialog .file-uploader .file-fileUploader {
	font-size:12px;
	height:20px;
	opacity:0;
	filter: alpha(opacity=0);
	position:absolute;
	left: 0;
	top: 0px;
	cursor: pointer;
	width:100%;
}
#chatWrapper .file-selectdialog .file-uploader .file-filemacos {
	left:0 !important;
}
#chatWrapper .file-selectdialog .file-label2 {
	color: #5C6470;
    font-size: 12px;
    margin-left: 58px;
    padding-bottom: 11px;
}
#chatWrapper .file-selectdialog .file-simple,
#chatWrapper .file-selectdialog .file-extended {
	display: none;
	margin-left: 0px;
}
#chatWrapper .file-selectdialog .file-simple .file-label2 {
	margin-top:20px;
}
#chatWrapper .file-selectdialog .file-simple .file-selector{
	color:#5c6470;
	overflow: hidden;
	height: 30px;
	/*font-size:12px;*/
	font-weight:bold;
	margin:6px 0 6px 90px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
}
#chatWrapper .file-selectdialog .file-simple .file-uploader{
	overflow: hidden;
    position: relative;
	display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: middle;
	cursor:pointer;
}
#chatWrapper .file-selectdialog .file-simple .file-uploader-left{
    background: url("images/live_feed_sprite.png") no-repeat scroll 0px -240px transparent;
    display: inline-block;
    height: 25px;
    vertical-align: top;
    width: 4px;
}
#chatWrapper .file-selectdialog .file-simple .file-uploader-right{
    background: url("images/live_feed_sprite.png") no-repeat scroll -7px -240px transparent;
    display: inline-block;
    height: 25px;
    vertical-align: top;
    width: 4px;
}
#chatWrapper .file-selectdialog .file-simple .file-but-text{
    background: url("images/live_feed_sprite.png") repeat-x scroll 0 -267px transparent;
    color: #7A808C;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    padding: 2px 10px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    vertical-align: top;
}